.App {
  display: flex;
  height: 100vh;
}

.pane {
  padding: 20px;
  overflow-y: hidden;
}

.left-pane {
  width: 50%;
  border-right: 1px solid #ccc;
}

.right-pane {
  width: 50%;
}
button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #bec0c2a2;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 2px;
}

button:disabled {
  background-color: #341eb3c2;
  cursor: not-allowed;
}
.emp-form{
  width: 50%;
  height: 50vh;
  background-color: red;
}
  .emp-form h2{
    text-align: center;
  }